# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala
4. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. Scikit-Learn

| Data Science Tools |
|--------------------|
|       Python       |
|         R          |
|       Scala        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [26]:
### This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [27]:
### This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## In this notebook, Data Science Tools and Ecosystem are summarized
**Objetives:**
* Learn to work with jupyter notebook
* Show data calculations
* Create markdown to add titles, ordered and unordered list and tables

## Author
Aurora Ovallez